body,html {
  margin: 0;
}
#main-div {
  height: 100vh;
  width: 100vw;
  align-content: center;
  overflow: hidden;
}
h1 {
  color: white;
  font: size 50px;
  /* justify-content: center;
  align-items: center; */
  text-align: center;
}
#question-card {
  background-color: rgba(0, 0, 0, 0.39);
  height:25vh;
  width:75vw;
  justify-self: center;
  justify-items: center;
}
img {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: fill;
  z-index: -1;
  top: 0;
}
#theAnswers {
  color: white;
  font-size: larger;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
  
}
button {
  display: flex;
  padding: 10px 20px;
  border-radius: 8px;
  /* font-size: medium; */
  text-align: center;
  margin-top: 3%;
}
button:hover {
  background-color: rgb(116, 198, 253);
}
